body {
	padding-top: 50px;
}
#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url("http://i.huffpost.com/gen/1750583/thumbs/o-METEOR-SHOWER-facebook.jpg") bottom center no-repeat;
	background-color: #7B0606;
	background-blend-mode: overlay;
	&.app-bg {
		background-color: #212121;
	}
}
.jumbotron {
	&.home {
		padding: 78px 60px;
		background: rgba(0,0,0,.4);
	}
}

.main-app {
	margin-top: 20px;
}