<template name="applayout">
  <div id="bg" class="app-bg"></div>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed pull-left toggle-right visible-xs btn btn-primary btn-xs" data-toggle="offcanvas"><span class="fa fa-space-shuttle fa-2x"></span></button>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="fa fa-align-right fa-2x"></span>
        </button>
        <a class="navbar-brand" href="/dashboard"><i class="fa fa-space-shuttle brand"></i> Cassiopeia</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="{{isActiveRoute regex='dashboard'}}"><a href="/dashboard">Dashboard</a></li>
           <li class="{{isActiveRoute regex='blog'}}"><a href="/blog">Blog</a></li>
          <!--<li><a href="#contact">Contact</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }}
        </ul>
      </div><!-- /.nav-collapse -->

<!--       <div id="navbar-user" class="collapse navbar-collapse pull-right">
        {{> loginButtons }}
      </div> -->
      <!-- /.nav-users -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

  <div class="container main-app">

    <div class="row row-offcanvas row-offcanvas-left">
      {{> yield "aside"}}
      <div class="col-xs-12 col-sm-9">
          {{> yield}}
      </div><!--/.col-xs-12.col-sm-9-->

    </div><!--/row-->

    <hr>

    <footer class="text-center">
      <p>&copy; a getreal meteor.js project 2014</p>
    </footer>

  </div><!--/.container-->
</template>