<template name="job">
	<div class="panel panel-default">
	  <div class="panel-heading">
		{{#if editing}}
			<div class="form-group">
				<label for="job-title">Editing {{job_title}}</label>
				<input type="text" name="job-title" class="form-control" id="job-title" value="{{job_title}}" />
			</div>
		{{else}}
		    <h3 class="panel-title">{{job_title}}
				<button class="fa fa-trash btn btn-danger btn-xs pull-right deleteJob"></button>
				<button class="fa fa-edit btn btn-warning btn-xs pull-right editJob"></button>
		    </h3>
		{{/if}}
	  </div>
	  <div class="panel-body">
		{{#if editing}}
			<!-- {{#if commandsCount}} -->
			<!-- // TODO Editing commands -->
				<dl class="dl-horizontal">
				    {{#each commands}}
						<dt>{{name}}</dt>
						<dd>{{body}}
							<button class="fa fa-trash btn btn-danger btn-xs pull-right deleteCommand"></button>
							<button class="fa fa-edit btn btn-warning btn-xs pull-right editCommand"></button>
						</dd>
				    {{/each}}
				</dl>
			<!-- {{/if}} -->

			<div class="panel panel-success">
				<div class="panel-heading"><h3 class="panel-title">Commands</h3></div>
				<div class="panel-body">
					<form role="form" class="add-command">
						<div class="form-group">
							<label for="command">Add a command</label>
							<input type="text" name="command-title" class="form-control command-title" placeholder="Command name" />
						</div>
						<div class="form-group">
							<textarea type="textarea" rows="5" name="jcommand-value" class="form-control command-value" placeholder="Enter a shell command..."></textarea>
						</div>
						<div class="form-group">
							<input type="submit" name="add-command" class="btn btn-default" id="add-command" value="Add another" />
						</div>
					</form>
				</div>
			</div>
		{{else}}
			{{#if commandsCount}}
				<dl class="dl-horizontal">
				    {{#each commands}}
						<dt>{{name}}</dt>
						<dd>{{body}}</dd>
				    {{/each}}
				</dl>
			{{/if}}
		{{/if}}
	  </div>
	  {{#if editing}}
	  	<div class="panel-footer">
			<button type="submit" name="save-job" class="btn btn-warning" id="save-job"><i class="fa fa-save"></i> Save job</button>
			<button type="submit" name="save-job" class="btn btn-danger deleteJob pull-right"><i class="fa fa-trash"></i> Delete job</button>
	  	</div>
	  {{/if}}
	</div>
</template>

<template name="jobs_list">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Your Jobs</h3>
	  </div>
	  <div class="panel-body">
	  	{{#if count}}
	  	  <ul class="list-group">
		    {{#each jobs}}
		    	<li class="list-group-item">
		    		<a href="/job/{{_id}}/overview">{{title}} : {{createdAt}}</a>
		    		<button class="fa fa-trash btn btn-danger btn-xs pull-right deleteJob"></button>
		    		<button class="fa fa-edit btn btn-warning btn-xs pull-right editJob"></button>
		    	</li>
		    {{/each}}
		  </ul>
		{{else}}
			<button class="btn btn-lg btn-success">Create a job!</button>
		{{/if}}
	  </div>
	</div>
</template>

<template name="jobs_add_edit">
	<form role="form">
	  <div class="form-group">
	    <label for="jobName">Job name</label>
	    <input type="textfield" class="form-control" id="jobName" placeholder="Enter Job name">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	  </div>
	  <button type="submit" class="btn btn-default">Add</button>
	</form>
</template>

<template name="job_building">
	<div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span class="sr-only">40% Complete (success)</span>
	  </div>
	</div>
	<div class="jumbotron">
		{{output}}
	</div>
</template>
