<template name="job">
	<div class="panel panel-default">
	  <div class="panel-heading">
		{{#if editing}}
			<div class="form-group">
				<label for="job-title">Editing {{title}}</label>
				<input type="text" name="job-title" class="form-control" id="job-title" value="{{title}}" />
			</div>
		{{else}}
		    <h3 class="panel-title">{{title}}</h3>
		{{/if}}
	  </div>
	  <div class="panel-body">
		{{#if editing}}
			<div class="form-group">
				<label for="command">Add a command</label>
				<input type="text" name="command-title" class="form-control" id="command-title" placeholder="Command name" />
				<textarea type="textarea" rows="5" name="jcommand-value" class="form-control" id="command-value" placeholder="Enter a shell command..."></textarea>
			</div>
			<div class="form-group">
				<input type="submit" name="add-command" class="btn btn-default" id="add-command" value="Add command" />
			</div>
		{{else}}
		    ...saved commands
		{{/if}}
	  </div>
	  {{#if editing}}
	  	<div class="panel-footer">
			<button type="submit" name="save-job" class="btn btn-warning btn-lg" id="save-job"><i class="fa fa-save"></i> Save job</button>
	  	</div>
	  {{/if}}
	</div>
</template>

<template name="jobs_list">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Your Jobs</h3>
	  </div>
	  <div class="panel-body">
	  	{{#if jobs}}
	  	  <ul class="list-group">
		    {{#each jobs}}
		    	<a href="/job/{{_id}}"><li class="list-group-item">{{title}} : {{createdAt}}</li></a>
		    {{/each}}
		  </ul>
		{{else}}
			<button class="btn btn-lg btn-success">Create a job!</button>
		{{/if}}
	  </div>
	</div>
</template>

<template name="jobs_add_edit">
	<form role="form">
	  <div class="form-group">
	    <label for="jobName">Job name</label>
	    <input type="textfield" class="form-control" id="jobName" placeholder="Enter Job name">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputFile">File input</label>
	    <input type="file" id="exampleInputFile">
	    <p class="help-block">Example block-level help text here.</p>
	  </div>
	  <button type="submit" class="btn btn-default">Add</button>
	</form>
</template>